
/*Cards*/

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');


 .cards{
    &-horizontal {
    display: flex;
    flex: 1 1 auto;}
    &_header{
    width: 100%;
    padding: 10px 0px 40px 0px;
    &--title{
        font-family: 'Eastman Trial';
        font-weight: 700;
        font-style: normal;
        color:#ff6600;
        text-transform:uppercase;
        font-size: 40px;
    }}
    &_title{
        font-family: 'Eastman Trial';
        font-weight: 800;
        font-style: normal;
        font-size: 30px;
        text-transform: uppercase;
        color: #ff6600;
    }
    &_type{
        font-family: 'Eastman Trial';
        font-weight: normal;
        font-style: italic;
        text-transform: uppercase;
        color: #666666;
    }
    
    &_text{
        font-family: 'Eastman Trial';
        font-weight: normal;
        font-size: 0.9rem;
        color: #666666;
    }
    &_socialmedia{
        padding-top:14px;
        text-align: left;
        &--icon{
        color: #ff6600;
        padding: 0px 5px;
        font-size: 20px;
        &:hover{
            color: #FFA600;
        }}}
    &-class{
    color: #fff;
    background-color: #ff6600;
    margin: 10px 0px;
    padding: 4px 10px;
    
    border-radius: 20px;
    font-family: 'Eastman Trial';
    font-weight: normal;
    font-style: italic;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2px;
    display: inline-block;}
    &_link{
    padding: 5px 30px 5px 30px;
    &--a{
    font-family: 'Eastman Trial';
    font-weight: 600;
    font-style: normal;
    color: #fff;
    font-size: 2.6rem;
    line-height: 40px;
    text-transform: uppercase;
    &:hover{
        text-decoration:underline;
        color: #fff;}}
    &_button--LinkImage{
    width: 80%;
    border-radius: 20px;
}}


@media screen and (max-width: 900px){
.cards_link--a{
    font-size:2rem;
    line-height: 2rem;
    letter-spacing: 0.2rem;

}}}

@media screen and (max-width: 320px){
    .cards{
        &-class{
            font-size: 8px;
            letter-spacing: 2px;
    }
}
}
.card{
    margin: 0px 10px 40px 0px;
    box-shadow: 0px 0px 20px rgba(209, 209, 209, 0.786);
    
    border-radius: 2rem;
    &-img-top {
        
        border-radius: 2rem 2rem 0rem 0rem;
    }
    &_body{
        background-color: #ffff;
        
        border-radius: 0rem 0rem 2rem 2rem;
    }
    &_body--orange{
        background-color: #ff6600;
        
        border-radius: 0rem 0rem 2rem 2rem;
    }
    &-horizontal {
        display: flex;
        flex: 1 1 auto;
    }
}
.cards_horizontal{
    background-color:#fff;
    border-radius: 2rem;
    margin: 0px 10px 40px 0px;
    box-shadow: 0px 0px 20px rgba(209, 209, 209, 0.786);
    &--title{
        font-family: 'Eastman Trial';
        font-weight: 800;
        font-style: normal;
        font-size: 1.4rem;
        text-transform: uppercase;
        color: #ff6600;
        padding-top: 15px;
    }
    &_text{
    color: #666666;
    font-family: 'Eastman Trial';
    font-weight: normal;
    font-style: normal;
    font-size: 16px;
    padding-top: 15px;}
    &--button{
        background-color:#ff6600; 
        box-shadow: 0px 0px 20px rgba(209, 209, 209, 0.786);}
    &--link--a {
    font-family: 'Eastman Trial';
    font-weight: 600;
    font-style: normal;
    color: #fff;
    font-size: 2rem;
    line-height: 1rem;
    text-transform: uppercase;
    padding-top:20px ;
    &:hover{
        text-decoration: underline;
        color: #fff;
    }}
    &--type{
        font-family: 'Eastman Trial';
        font-weight: normal;
        font-style: italic;
        text-transform: uppercase;
        color: #666666;
        font-size: 1.2rem;
    }
    &--orange {
        background-color: #ff6600;
        
        border-radius: 2rem;
        }}
.cards-horizontal{
    &-image{
        width: auto;
        
        border-radius: 2rem 0rem 0rem 2rem;}
    &--type{
        font-family: 'Eastman Trial';
        font-weight: normal;
        font-style: italic;
        text-transform: uppercase;
        color: #666666;
    }
}
.blog{
&_link{
    padding-top: 0.2rem;
&--a{
    color:#ff6600;
    font-family: 'Eastman Trial';
    font-weight: normal;
    font-style: normal;
    font-size:14px;
    text-transform: uppercase;
    letter-spacing: 5px;
    &:hover{
    text-decoration:underline;
}}
}
}





.flip-box {
    background-color: transparent;
    perspective: 1000px;
    &:hover &-inner {
        transform: rotateY(180deg);
      }
    &-inner {
    transition: transform 0.8s;
    transform-style: preserve-3d;
    }
    &-front, &-back {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
  &-back {
    padding: 5rem 3rem 0rem 3rem;
    position:absolute;    
    text-align: center;
    background-color:$white-color;
    transform: rotateY(180deg);
    border-radius: 2rem;
  }
  &--des{
    font-size: 1rem;
  }
  &--title{
    font-size: 1rem;
    color: $primary-color;
    font-weight: 600;
  }}