
/** Footer **/
.footer{
    &_quote{
        font-family: 'Eastman Trial';
        font-weight: 600;
        font-style: normal;
        color: #fff;
        text-transform:uppercase;
        font-size: 25px;
        padding:50px 40px;
        text-align: center;
        & a{
            text-decoration:underline;
            color: #f3f3f3;
            &:hover{
                color: #FFA600;
            }
        }
    }
    &_legal{
        font-size: 10px;
        font-family: 'Eastman Trial';
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 4px;
        & a {
            color: #f3f3f3;
            text-decoration: none;
        }
    }
    &_socialmedia{
        padding-top:10px 0px;
        text-align: center;
        text-decoration: none;
        &--icon{
            color: #fff;
            padding: 0px 5px;
            font-size: 20px;
            &:hover{
                color: #FFA600;
            }
        }
    }
    &-copyright{
        font-size: 10px;
        font-family: 'Eastman Trial';
        font-weight: 500;
        font-style: normal;
        text-transform: uppercase;
        letter-spacing: 4px;
        align-self: center;
        color: $ligth-color;
        text-align: center;
        & a{
            color: $ligth-color;
            &:hover{
                color: $white-color;
            }
        }
    }
}