
/*navbar*/
.navbar{
    background-color: $ligth-color;
    &-toggler-icon{
        background-image:url("../images/menu.svg");
    }
    &_logo{ /*operaciones*/
        height: $rem-4/2;
        width: $width-auto;
    }
    &_name{
        color:$primary-color;
        font-size: 0.8rem;
        font-weight: $font-weight;
        font-style: normal;
        text-transform: $text-uppercase;
        padding-left: 0.5rem;
        padding-top:0.5rem;
    }
    
    &-item{
        color: #666666;
        display: block;
        padding: 1rem 1rem;
        text-transform:$text-uppercase;
        font-weight: normal;
        font-size: 0.8rem;
         &:hover,
         &:active,
         &-active{
        text-transform: $text-uppercase;
        color:$primary-color;
        font-weight: 600;
        font-size: 0.8rem;
        text-decoration: none;
}
}
}
