
/*navbar*/
.navbar{
    background-color: $ligth-color;
    &_logo{ /*operaciones*/
        height: $rem-4/2;
        width: $width-auto;
    }
    &_name{
        color:$primary-color;
        font-size: 0.8rem;
        font-weight: $font-weight;
        font-style: normal;
        text-transform: $text-uppercase;
        padding-left: 0.5rem;
        padding-top:0.5rem;
    }
    
    &-item{
        color: #666666; 
        list-style-type: none;
        padding: 10px 20px;
    }
}
#nav-item--link{
    color: #666666;
    text-transform:$text-uppercase;
    font-weight: 400;
    font-size: 0.8rem;
     &:hover,
     &__active{
     text-transform: $text-uppercase;
    color:$primary-color;
    font-weight: 600;
    font-size: 0.8rem;
    }
}


.navbar-toggler-icon{
    background-image:url("../images/menu.svg");
}