
$primary-color:#ff6600;
$primary-colorLigth:#ff990085;
$ligth-color:#f3f3f3;
$white-color:#fff;
$text-color:#666666;

$font-family:'Eastman Trial';

$rem-4:4rem;
$width-auto:auto;
$font-weight:600;
$text-uppercase:uppercase;
